{% load static %}
<div class="row">
    {% if page_obj.object_list %}
        {% for product in page_obj %}
            <div class="col-lg-3 col-md-4 col-sm-6"> <!-- Adjusted column classes -->
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{ product.images.first.image.url }}" data-href="{% url 'product-detail' product.pk %}">
                        {% if product.is_sale and product.stock > 0 %}
                            <div class="badge text-light position-absolute" style="top: 0.7rem; right: 0.6rem; width: 50px; background-color: red; height: 20px; font-size: small;">On Sale</div>
                            <h6 style="font-size: large; font-weight: bold; color: rgb(255, 0, 0); margin-top: 10px;  background-color: rgba(240, 248, 255, 0.515);">{{ product.discount }}% off</h6>
                        {% endif %}
                        {% if product.stock <= 0 %}
                            <h6 style="color: red; font-weight: bold;">Out of Stock</h6>
                        {% endif %}
                        <ul class="product__item__pic__hover">
                            <!-- Add to Favourites Form -->
                            <li>
                                <form method="POST" action="{% url 'add_favourites' product.id %}" style="margin: 0; padding: 0; color: red;">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; color: inherit; cursor: pointer;" title="Add to Favourites">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                </form>
                            </li>

                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="{% url 'product-detail' product.pk %}">{{ product.product_name|truncatewords:2 }}</a></h6>
                        <h5>Rs. {{ product.sale_price }} &nbsp; <strike>Rs. {{ product.price }}</strike></h5>
                        
                        
                        
                        {% if product.stock > 0 %}
                            <form method="POST" action="{% url 'add_to_cart' product.id %}" style="margin-top: 40px;">
                                {% csrf_token %}
                                <button type="submit" class="primary-btn" style="border: none;">
                                    ADD TO CART
                                </button>
                            </form>
                        {% else %}
                            <button class="primary-btn" style="border: none; cursor: not-allowed; opacity: 0.6; margin-top: 40px;">
                                Out of Stock
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No products found.</p>
    {% endif %}
</div>


<script src="{% static 'mainshop/assets/js/jquery-3.6.0.min.js' %}"></script> 
<script>
    $(document).ready(function () {
        // Attach click event to product images
        $('.product__item__pic').on('click', function () {
            var href = $(this).data('href'); // Get the URL from data-href
            if (href) {
                window.location.href = href; // Redirect to the URL
            }
        });
    });
</script>
