{% load static %}
<div class="row">
    {% if page_obj.object_list %}
        {% for product in page_obj %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            {% if product.is_sale %}
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="{{ product.images.first.image.url }}" data-href="{% url 'product-detail' product.pk %}">
                    <div class="badge text-light position-absolute" style="top: 0.5rem; right: 0.5rem; width: 50px; background-color: red; height: 20px; font-size:small;"> On Sale </div>
                    <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6 style=" font-size:large; font-weight: bold; color: rgb(255, 0, 0);">{{ product.discount }} % off</h6>
                    <h6><a href="{% url 'product-detail' product.pk %}">{{ product.product_name }}</a></h6>
                    <h5>Rs. {{ product.sale_price }} &nbsp; <strike> Rs. {{ product.price }}</strike></h5>
                </div>
            </div>
            {% else %}
            <div class="product__item"> 
                <div class="product__item__pic set-bg" data-setbg="{{ product.images.first.image.url }}" data-href="{% url 'product-detail' product.pk %}">
                    <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a href="{% url 'product-detail' product.pk %}">{{ product.product_name }}</a></h6>
                    <h5>Rs. {{ product.price }}</h5>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>  No products found.</p>
    {% endif %}
</div>


<script src="{% static 'mainshop/assets/js/jquery-3.6.0.min.js' %}"></script> 
<script>
    $(document).ready(function () {
        // Attach click event to product images
        $('.product__item__pic').on('click', function () {
            var href = $(this).data('href'); // Get the URL from data-href
            if (href) {
                window.location.href = href; // Redirect to the URL
            }
        });
    });
</script>

    