{% load static %}
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> nerbbeauty13@gmail.com</li>
                            <li> Timeless Beauty Inspired By Nature 💖</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="img/language.png" alt="">
                            <div>Buyer</div>
                            <span class="arrow_carrot-down"></span>
                            <!-- <ul>
                                <li><a href="#">Buyer</a></li>
                                <li><a href="#">Admin</a></li>
                            </ul> -->
                        </div>
                      {% if user.is_authenticated %}
                      <div class="header__top__right__auth">
                        <small>Welcome, {{ user.first_name }}!</small>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" style=" outline: none; border: none; background-color: transparent;">
                       <i class="fa fa-user-plus" aria-hidden="true">logout</i> 
                    </button>
                </form>
                    </div>
                    {% else %}

                        <div class="header__top__right__auth">
                            <small>Welcome guest!</small>
                            <a href="{% url 'login' %}"><i class="fa fa-user"></i>Login |</a>
                        </div> 
                        <div class="header__top__right__auth">
                          
                            <a href="{% url 'register' %}"><i class="fa fa-user"></i>Register</a>
                        </div> 
                       
                  {% endif %}
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-left: 100px; padding-right: 100px;">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="{% static 'mainshop/assets/img/logo13.png' %}" alt=""></a> 
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="{% url 'product-list' %}">Shop</a></li>
                        <li><a href="{% url 'flash-sale' %}">Flash Sale</a></li>
                       
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shoping-cart.html">About</a></li>
                                <li><a href="./checkout.html">Orders</a></li>
                                <li><a href="./blog-details.html">Blog </a></li>
                            </ul>
                        </li>
                        
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                   
                    <ul>
                        <li><a href="{% url 'favourite_list' %}"><i class="fa fa-heart"></i> <span>{{ fav_count }}</span></a></li>
                        <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i> <span>{{item_count }}</span></a></li>
                    </ul>
                   
               
                      
                    <!-- <div class="header__cart__price">item: <span>$150.00</span></div> -->
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>