{% extends "mainshop/base.html" %}
{% block content %}

{% include "mainshop/home/hero.html" %}
{% include "mainshop/home/home_categories.html" %}
{% include "mainshop/home/featured_section.html" %}
{% include "mainshop/home/banner.html" %}
{% include "mainshop/home/latest_product.html" %}
{% include "mainshop/home/carosel.html" %}
{% include "mainshop/home/topsale.html" %}
{% include "mainshop/home/card.html" %}
{% include "mainshop/home/contact.html" %}

{% include "mainshop/home/blog_section.html" %}


{% endblock content %}
