<div class="col-lg-12">
    <div class="product__details__tab">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                    aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                    aria-selected="false"> Product Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                    aria-selected="false">Reviews <span>(1)</span></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div class="product__details__tab__desc">
                    <h6>Products Infomation</h6>
                    <p>{{ product.description|striptags|linebreaksbr }}</p>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div class="product__details__tab__desc">
                    <h6>Products Infomation</h6>
                    <p>{{ product.description|safe|linebreaksbr }}</p>
                </div>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
                <div class="product__details__tab__desc">
                    <h4> Write Reviews ✍️</h4> <br>
               <form action="" method="post">
                {% csrf_token %}
                
                <!-- rating  starts-->
                 <label for=rate"">How do you rate this product ?</label><br>
                 <div class="rate">
                    <input type="radio" name="rating" id="rating10" value="5" required> <label for="rating10" title="5"></label>
                    <input type="radio" name="rating" id="rating9" value="4.5" required> <label for="rating9" title="4.5" class="half"></label>
                    <input type="radio" name="rating" id="rating8" value="4" required> <label for="rating8" title="4"></label>
                    <input type="radio" name="rating" id="rating7" value="3.5" required> <label for="rating7" title="3.5" class="half"></label>
                    <input type="radio" name="rating" id="rating6" value="3" required> <label for="rating6" title="3"></label>
                    <input type="radio" name="rating" id="rating5" value="2.5" required> <label for="rating5" title="2.5" class="half"></label>
                    <input type="radio" name="rating" id="rating4" value="2" required> <label for="rating4" title="2"></label>
                    <input type="radio" name="rating" id="rating3" value="1.5" required> <label for="rating3" title="1.5" class="half"></label>
                    <input type="radio" name="rating" id="rating2" value="1" required> <label for="rating2" title="1"></label>
                    <input type="radio" name="rating" id="rating1" value="0.5" required> <label for="rating1" title="0.5" class="half"></label>
                 </div><br>
                 

        <label for="subject"> Review Title :</label>
        <input type="text" name="subject" class="form-control" style="width: 1000px;"><br>Review :
        <br>
            
        
        <textarea name="review" rows="4" style="width: 1000px;"></textarea><br>
       
        
            <input type="submit" value="Submit Review" class="btn btn-primary">
    
    </form>
               <br>
                </div>
            </div>
        </div>
    </div>
</div>