<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in related_products %}
           {% if product.is_sale %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{ product.images.first.image.url }}">
                        <div style=" width: 80px; background-color: red; font-size:large; color: aliceblue; font-weight: bold;"> On Sale </div>
                        <ul class="product__item__pic__hover">
                            <!-- Add to Favourites Form -->
                            <li>
                                <form method="POST" action="{% url 'add_favourites' product.id %}" style="margin: 0; padding: 0; color: red; ">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; color: inherit; cursor: pointer;" title="Add to Favourites" >
                                        <i class="fa fa-heart"></i>
                                    </button>
                                </form>
                            </li>
            
                            <!-- Add to Cart Form -->
                            <li>
                                <form method="POST" action="{% url 'add_to_cart' product.id %}" style="margin: 0; padding: 0; color: red; ">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; color: inherit; cursor: pointer;" title="Add to Cart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6 style=" font-size:x-large; font-weight: bold; color: rgb(251, 0, 0);">{{ product.discount }}% off</h6>
                        <h6><a href="{% url 'product-detail' product.id %}">{{ product.product_name }}</a></h6>
                        <h5>Rs. {{ product.sale_price }} <strike>Rs. {{ product.price }}</strike></h5>
                    </div>
                </div>
            </div>
           
            {% else %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{ product.images.first.image.url }}">
                        <ul class="product__item__pic__hover">
                            <!-- Add to Favourites Form -->
                            <li>
                                <form method="POST" action="{% url 'add_favourites' product.id %}" style="margin: 0; padding: 0; color: red; ">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; color: inherit; cursor: pointer;" title="Add to Favourites">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                </form>
                            </li>
            
                            <!-- Add to Cart Form -->
                            <li>
                                <form method="POST" action="{% url 'add_to_cart' product.id %}" style="margin: 0; padding: 0; color: red; ">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; color: inherit; cursor: pointer;" title="Add to Cart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="{% url 'product-detail' product.id %}">{{ product.product_name }}</a></h6>
                        <h5>Rs {{ product.price }}</h5>
                    </div>
                </div>
            </div>
            
            {% endif %}
           
            {% endfor %}

        </div>
    </div>
</section>
<!-- Related Product Section End -->
 