<div class="col-lg-6 col-md-6">
    {% if product.is_sale %}
    <div class="badge text-light position-absolute" style=" margin-top: -40px; width: 100px; background-color: red; height: 30px; font-size:large;"> On Sale </div>
    {% endif %}
    <div class="product__details__text">
        <h3>{{ product.product_name }}</h3>
        <div class="product__details__rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <span>(18 reviews)</span>
        </div>
        {% if product.is_sale %}
        <div class="product__details__price">Rs {{ product.sale_price }} &nbsp; <strike> Rs{{ product.price }}</strike></div>
        {% else %}
        <div class="product__details__price">Rs {{ product.price }}</div>
        {% endif %}

        <p >{{ product.description| striptags |truncatewords:50 }}</p>
        <div class="product__details__quantity">
            <div class="quantity">
                <div class="pro-qty">
                    <input type="text" value="1">
                </div>
            </div>
        </div>
        <a href="#" class="primary-btn">ADD TO CART </a>
        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
        <ul>
            <li><b>Availability</b> 
            <span>
            {% if product.is_available %}
                Available
            {% else %}
                Not Available
            {% endif %}
            
            </span></li>
            <li><b>Shipping</b> <span> 01 day shipping | <samp> Free delivery every Friday </samp></span></li>
            <li><b>Weight</b> <span>0.5 kg</span></li>
            <li><b>Share on</b>
                <div class="share">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>