{% load static %}
<section class="categories">
    <div class="container-fluid">
        <div class="row">
        <div class="categories__slider owl-carousel">
        <div class="col-lg-3">
            <a href="{% url 'product-list' %}">
            <img src="{% static 'mainshop/assets/img/banner/ban1.png' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{% url 'product-list' %}">
            <img src="{% static 'mainshop/assets/img/banner/ban2.png' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{% url 'product-list' %}">
            <img src="{% static 'mainshop/assets/img/banner/ban3.png' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{% url 'product-list' %}">
            <img src="{% static 'mainshop/assets/img/banner/ban4.png' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{% url 'product-list' %}">
            <img src="{% static 'mainshop/assets/img/banner/ban5.png' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{% url 'product-list' %}">
            <img src="{% static 'mainshop/assets/img/banner/ban6.png' %}" alt="">
            </a>
        </div>
               
        </div>
        </div>
    </div>
</section>

