{% load static %}



<section class="featured spad">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-category="all">
                            <a href="#" class="category-link">All</a>
                        </li>
                        {% for category in featured_categories %}
                        <li data-category="{{ category.slug }}">
                            <a href="#" class="category-link">{{ category.cat_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter" id="featured-products-container">
            {% for product in products %}
            <div class="col-lg-2 col-md-4 col-sm-6 mix {{ product.category.slug }}"  >
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="{{ product.images.first.image.url }}">
                        {% if product.is_sale %}
                        <div style="padding: 10px; background-color: red; font-size: small; font-weight: bold; color: aliceblue; width: auto; position: absolute;">
                            {{ product.discount }}% Off
                        </div>
                        {% endif %}

                    </div>
                    <div class="featured__item__text">
                        <h6><a href="{% url 'product-detail' product.pk %}">{{ product.product_name|truncatewords:3 }}</a></h6>
                        
                        <h5>
                            {% if product.is_sale %}
                            Rs. {{ product.sale_price|floatformat:2 }} <strike>Rs. {{ product.price }}</strike>
                            {% else %}
                            Rs. {{ product.price }}
                            {% endif %}
                        </h5>
                        <form method="POST" action="{% url 'add_favourites' product.id %}" style="width: 500px; margin-top: -30px; margin-left: -40px; ">
                            {% csrf_token %}
                            <button type="submit" class="primary-btn" style="border: none; background:none; color: blueviolet;">
                                <i class="fa fa-heart"></i>
                            </button>
                        </form>
                        <form method="POST" action="{% url 'add_to_cart' product.id %}" style="width: 500px; margin-left: -150px; margin-top: 30px;">
                            {% csrf_token %}
                            <button type="submit" class="primary-btn" style="border: none;">
                                ADD TO CART
                            </button>
                        </form>
                        

                       
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>



<script src="{% static 'mainshop/assets/js/jquery-3.6.0.min.js' %}"></script>
<script>
function truncateWords(text, wordLimit) {
    const words = text.split(' ');
    return words.length > wordLimit ? words.slice(0, wordLimit).join(' ') + '...' : text;
}

$(document).ready(function () {
    $('.category-link').on('click', function (e) {
        e.preventDefault();
        var category = $(this).parent().data('category');
        var url = category === 'all' 
            ? '{% url "ajax-featured-products" "all" %}' 
            : '{% url "ajax-featured-products" "CATEGORY_SLUG" %}'.replace("CATEGORY_SLUG", category);

        $.ajax({
            url: url,
            success: function (data) {
                var container = $('#featured-products-container');
                container.empty();

                data.products.forEach(function (product) {
                    var discountHtml = product.is_sale
                        ? `<div style="padding: 10px; background-color: red; font-size: small; font-weight: bold; color: aliceblue; width: auto; position: absolute;">
                               ${product.discount}% Off
                           </div>`
                        : '';

                        var buttonsHtml = `
                        <form method="POST" action="/cart/add_favourites/${product.pk}/" style="margin-left: 220px; margin-top: 5px;">
                            <input type="hidden" name="csrfmiddlewaretoken" value="${getCsrfToken()}">
                            <button type="submit" class="primary-btn" style="border: none; background: none; color: blueviolet;">
                                <i class="fa fa-heart"></i>
                            </button>
                        </form>
                        ${product.stock > 0 ? `
                        <form method="POST" action="/cart/add_to_cart/${product.pk}/" style="margin-top: -8px;">
                            <input type="hidden" name="csrfmiddlewaretoken" value="${getCsrfToken()}">
                            <button type="submit" class="primary-btn" style="border: none;">
                                ADD TO CART
                            </button>
                        </form>` : `
                        <button class="primary-btn" style="border: none; cursor: not-allowed; opacity: 0.6; margin-top: -8px;">
                            Out of Stock
                        </button>`}
`;



                    var productHtml = `
                        <div class="col-lg-3 col-md-4 col-sm-6 mix ${product.category_slug}">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="${product.image_url}">
                                    ${discountHtml}
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="/product-detail/${product.pk}/">${truncateWords(product.product_name, 4)}</a></h6>
                                    <h5>
                                        ${product.is_sale 
                                            ? `Rs. ${product.sale_price.toFixed(2)} <strike>Rs. ${product.price}</strike>` 
                                            : `Rs. ${product.price}`}
                                    </h5>
                                    ${buttonsHtml}
                                </div>
                            </div>
                        </div>`;
                    container.append(productHtml);
                });

                // Reinitialize the set-bg class to apply background images
                $('.set-bg').each(function () {
                    var bg = $(this).data('setbg');
                    $(this).css('background-image', 'url(' + bg + ')');
                });
            },
            error: function () {
                alert('Failed to load products.');
            }
        });
    });
});
function getCsrfToken() {
    const tokenElement = document.querySelector('[name=csrfmiddlewaretoken]');
    return tokenElement ? tokenElement.value : '';
}



</script>

    