{% load static %}
<section class="hero" style="background-image: url('{% static "mainshop/assets/img/MAIN112.png" %}');  background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories"style=" margin-left: 100px;">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Categories 💖</span>
                    </div>
                    <ul>
                        {% for category in categories %}
                        
                        <li>
                            <a href="{% url 'product-by-category' category.id %}">{{ category.cat_name|title }} </a>
                         
                        </li>
                        
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <div class="col-lg-9">

                <div class="hero__item set-bg" data-setbg="{% static 'mainshop/assets/img/hero/HEROFLOW.gif' %}" 
                style =" width: 1300px; height:500px; object-fit:contain; margin-top:20px; margin-left:-25px;  ">
                    

                </div>
            </div>
        </div>
    </div>
</section>