{% load static %}
<section class="latest-product spad" style="margin-left: 60px;">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        {% for product_chunk in latest_products %}
                        <div class="latest-product__slider__item">
                            {% for product in product_chunk %}
                            <a href="{% url 'product-detail' product.pk %}" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="{{ product.images.first.image.url }}" alt="{% url 'product-detail' product.pk %}">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ product.product_name }}</h6>
                                    <span>Rs. {{ product.price }}</span>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            
            
            
            
            
            
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Products On Sale</h4>
                    <div class="latest-product__slider owl-carousel">
                        {% for product_chunk in sale_products %}
                        <div class="latest-product__slider__item">
                            {% for product in product_chunk %}
                            <div class="latest-product__item">
                                <a href="{% url 'product-detail' product.pk %}">
                                    <div class="latest-product__item__pic">
                                        <div class="badge text-light position-absolute" style=" background-color: red; height: 20px; font-size: small;">{{ product.discount }}% off</div>
                                        <img src="{{ product.images.first.image.url }}" alt="{{ product.product_name }}">
                                    </div>
                                </a>
                                <div class="latest-product__item__text">
                                    <h6>{{ product.product_name }}</h6>
                                    <span>Rs. {{ product.sale_price }} &nbsp; <strike>Rs. {{ product.price }}</strike></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
          
          
          
          <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    
                    <a href="{% url 'flash-sale' %}"><img src ="{% static 'mainshop/assets/img/hero/ADS2.gif' %}" style=" width:360px; height: 460px;"> </a>
                </div>
            </div>
        </div>
    </div>
</section>