<!-- Breadcrumb Section Begin -->
{% load static %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'mainshop/assets/img/banner/FLASH1.gif' %}" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 style="color: black; margin-left: 500px; visibility: hidden;" >N-ERB BEAUTY</h2>
                    <div class="breadcrumb__option">
                        <a href="/" style="color: black; margin-left: 500px; visibility: hidden;">Home</a>
                        <span style="color: black; visibility: hidden; ">Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->